.menudiv {
    margin-top: -40px;
    gap: 30px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgba(218, 218, 218, 0.172);
    width: 1000px;
    height: 50px;
    z-index: 500;
    justify-content: center;
    display: flex;
    border-radius: 20px;
}

a.active {
    /* background-color: rgba(44, 44, 44, 0.783); */
    border-bottom: green 5px solid;
    /* padding-bottom: 20px; */
    transition: all 0.5s ease;
}

.linkstyle {
    display: flex;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 600;
    margin-top: 0px;
    padding-top: 13px;
    padding-left: 20px;
    padding-right: 20px;
    transition: 0.4s;
}

.linkstyle:hover {
    background-color: rgba(124, 124, 124, 0.783);
}

.background-image {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://www.bmw.ua/content/dam/bmw/marketB4R1/bmw_ua/topics/offers-and-services/stock-locator/range_locator_xxl.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(30px);
    z-index: -1;
}

.fade-enter {
    opacity: 0;
    transform: translateX(100%);
}

.fade-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
}

.fade-exit {
    opacity: 1;
    transform: translateX(0);
}

.fade-exit-active {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 300ms, transform 300ms;
}

/* Responsive styles */
@media screen and (max-width: 1024px) {
    .menudiv {
        width: 90%;
        gap: 0px;
        height: 80px;
    }
    .linkstyle {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (max-width: 768px) {
    .menudiv {
        width: 100%;
        height: auto;
        flex-wrap: wrap;
        padding: 10px 0;
        gap: 10px;
        border-radius: 0;
    }
    .linkstyle {
        padding: 10px;
        width: calc(50% - 20px);
        justify-content: center;
        text-align: center;
    }
    a.active {
        border-bottom: none;
        border-left: green 5px solid;
        padding-bottom: 10px;
    }
}

@media screen and (max-width: 480px) {
    .menudiv {
        flex-direction: column;
        height: auto;
        padding: 10px 0;
        border-radius: 20px;
    }
    .linkstyle {
        width: 100%;
        padding: 10px 0;
    }
    a.active {
        border-left: none;
        border-bottom: green 5px solid;
    }
}

@media screen and (max-height: 600px) {
    .menudiv {
        margin-top: 0;
        border-radius: 20px;

        
    }
}