#card {
    width: 18rem;
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
    margin-left: -200px;
    margin-top: -30px;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
    
  }
  

  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
  .license-plate {
    color: black;
    position: absolute;
    align-items: center;
    background-color: white;
    border: 2px solid black;
    border-radius: 4px;
    font-family: Arial, sans-serif;
    width: fit-content;
    z-index: 9999;
    width: 120px;
    height: 25px;
    margin-top: 10px;
    margin-left: 10px;

  }
  
  .flag {
    display:inline-flex;
    width: 16px;
    height: 10px;
    margin-right: 4px;
  }
  
  .blue {
    background-color: #0057b7;
    height: 50%;
  }
  
  .yellow {
    background-color: #ffd700;
    height: 50%;
  }
  
  .text {
    font-weight: bold;
    font-size: 16px;
  }
  